<!-- <%= JSON.stringify(pizza) %> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/pizza.css">
</head>
<body>

	<main>

        <article>
            <img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
            <div class="ingredients"> Ingredientes: <%= pizza.ingredientes %> </div>
            <button>+ Add</button>
            <div class="nomePizza">  <%= pizza.nome %> </div>
            <span><%= pizza.preco.toLocaleString('pt-br', {minimumFractionDigits: 2, style: 'currency', currency: 'BRL' }).replace('.', ',') %></span>
        </article>

		
	</main>
</body>
</html>